/*General*/
body {
	background: #f6f6f6;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;	
}

.fio {
	text-align: center;
	font-family:"Open_Sans_Semibold";
	font-size: 21px;
	position: relative;
	bottom:172px;	
}


.gosling {
	border-radius: 125.5px;
	border:3px solid #bebebe;
	position: absolute;
	margin-top: -88px;
	height: 139px;	
}

.bg {
	height: 235px;
	width: 300px;
	margin-top:200px;
}

.button {
	font: 14px "FiraSans-Bold";
	color: #ffffff;
	border-radius: 19px;
	width: 139px;
	height: 39px;
	background: #33c1e3;
	border:1px solid white;
	position: relative;
	bottom: 160px;
}

.button:hover {
	background: #ffffff;
	border:1px solid #33c1e3;
	color:#33c1e3;
	cursor: pointer;
	}
