/*General*/
body {
	background: #f6f6f6;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	
}

.fio {
	text-align: center;
	font-family:"Open_Sans_Semibold";
	font-size: 21px;
	position: relative;
	bottom:160px;
	
	
}


.gosling {
	border-radius: 125.5px;
	border:3px solid #bebebe;
	position: absolute;
	margin-top: -90px;
	height: 150px;
	
	
	
}

.bg {
	height: 210px;
	width: 300px;
	margin-top:200px;
}

.button {
	font: 14px "FiraSans-Bold";
	color: #ffffff;
	border-radius: 19px;
	width: 190px;
	height: 40px;
	background: #33c1e3;
	border:1px solid white;
	position: relative;
	bottom: 155px;
}