/*General*/
body {
	background: #f6f6f6;
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:"FiraSans-Regular";
	font-size: 18px;
	color: #414141;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

 a {
 	text-decoration: none;
 	color: #33c1e3;
 }

 li {
 	list-style-type: none;
 }

 i {
 	color: #33c1e3;
 	padding-right: 10px;
 }
/*general end*/

/*Header*/
.header {
	background: #ffffff;
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	flex-direction: row;

}
.user {
	width: 940px;
	display: flex;
	position: relative;
	top:7px;
	align-items: center;

}

.gosling {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border:2px solid #bebebe;
}

.user__name{
	margin-left: 20px;
}

.contacts__dropdown {
	display: none;
	position: absolute;
	border: 1.5px solid #dedede;
	border-radius: 9px;
	background: #ffffff;
}

.contacts:hover .contacts__dropdown {
	display: block;
	height: 133px;
	width: 192px;
}

.contacts__dropdown-link {
	color: #414141;
}

.contacts__dropdown-item {
	padding: 10px;
	font-family: "FiraSans-Light";
}

.header__right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "FiraSans-Bold";
	color: #33c1e3;
}
.contacts {
	border-bottom: 2px dotted #33c1e3;
	position: absolute;
}

.contacts:hover {
	color: #e85f61;
	border-color: #e85f61;
	cursor: pointer; 
}

/*Header End*/

/*Nav*/

/*nav End*/


/*About*/
.about__right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__desc {

}


/*About End*/

/*Footer*/
.footer {
	display: flex;
	position: absolute;
	bottom: 0;
	background: #414141;
	height: 80px;
	width: 100%;
}

/*Footer End*/