/*general*/
body {
	margin: 0px;
	padding: 0px;
}

a {
 	text-decoration: none;
 	color: #414141;
 	display: block;
 	font-family: "Fira Sans";
 	font-weight: 300;
 }

li {
 	list-style-type: none;
 }

i {
 	padding-right: 10px;
 }

.wrapper {
	background: #f6f6f6;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 960px;
	display: flex;
	margin: 0px auto;
	justify-content:space-between;
}

/*header*/
.header {
	width: 100%;
	height: 100px;
	background: #fff;
	box-shadow: 0 0 5px #d5d5d5;
}

/*left*/
.header__left {
	display: flex;
	align-items: center;
}

.gosling {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border:2px solid #bebebe;
}

.user__name{
	margin-left: 20px;
	font: 18px "Fira Sans";
	font-weight: 400;
	color: #414141;
}
/*left end*/

/*right*/
.header__right {
	display: flex;
	margin-top: 38px;
	height: 40px;
}

.contacts {
	color: #33c1e3;
	border-bottom: 2px dotted #33c1e3;
	position: relative;
	font:18px "Fira Sans";
	font-weight: 700;
	height: 20px;
}
.contacts:hover {
	color: #e85f61;
	border-color: #e85f61;
	cursor: pointer; 
}

.list {
	width: 200px;
	padding: 10px;
	border: 1.5px solid #dedede;
	border-radius: 9px;
	background: #ffffff;
	position: absolute;
	display: none;
	justify-content: center;
	right: -50px;
	z-index: 100;
}
.list__item {
	padding:10px;
	align-items: center;
}

.header__right:hover .list {
	display: block;
}

.header__right:hover .triangle {
	display: block;
}

.triangle {
	display: none;
 	position: absolute;
 	width: 0px;
 	height: 0px;
 	border-top: none;
 	border-left: 10px solid transparent;
 	border-right: 10px solid transparent;
 	border-bottom: 10px solid #dedede;
 	right: 50px;
 	top: 31px;
 }
  .triangle:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: 2px;
    left: -10px;
    z-index: 110; 
}

.fa-mes, .fa-ph, .fa-sk {
	color: #33c1e3;
	padding-right: 5px;
}
/*right end*/

/*content*/
.content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.page__content {
	display: flex;
}

/*nav*/
.nav {
	height: 100%;
	width: 220px;
	margin: 0px;
	text-align: right;
	position: relative;
	right: 5%;
}
.nav__item {
	display: inline-block;
}

.nav__link {
	font:18px "Fira Sans";
	font-weight: 400;
	color:#414141;
	padding: 15px;
}
.nav__link:hover {
	cursor: pointer;
	color: #33c1e3;
	border-right: 5px solid #33c1e3;
}

.nav__link__active {
	font-family: "Fira Sans";
	font-weight: 700;
	color: #33c1e3;
	border-right: 5px solid #33c1e3;
}

.sidebar {
	padding: 0px;
}

/*content*/
.h1 {
 	font-family: "Fira Sans";
 	font-weight: 500;
	padding-left:30px;
	color: #414141;
	height: 100%;
	width: 250px;
	margin: 0px;
 }

.career_list {
	width: 465px;
	position: relative;
}
.career {
 	width: 370px;
 	height: 110px;
 	background: #ffffff;
 	box-shadow: 0 0 5px #d5d5d5;
 	border-radius: 20px;
 	font-family: "Fira Sans";
 	font-weight: 300;
 	float: right;
 	display: inline-block;
 	margin-top: 14px;
 }

 .career:before {
 	content: "";
 	width: 1px;
 	height: 150px;
 	background: #dddddd;
 	display: block;
 	position: absolute;
 	left: 10%;

 }

 .career:hover .year{
 	color: #33c1e3;
 	font-family: "Fira Sans";
 	font-weight: 700;
 }
.career:hover {
	background: #33c1e3;
	cursor: pointer;
}

.career:hover .dev {
	color: #fff;
}
.career:hover .h3 {
	color: #fff;
}

.career:hover .year:after {
	border-color: #94e0f2;
}

.h3 {
 	padding: 20px 20px 5px;
	color: #414141;
	margin: 0px;
	font-family: "Fira Sans";
	font-weight: 500;
	font-size: 18px;
 }

.dev {
	margin: 0px;
	padding: 2px 20px;
	color: #727272;
	font-family: "Fira Sans";
	font-weight: 400;
	font-size: 18px;
}

.year {
	color: #727272;
	position: absolute;
	right: 95%;
	line-height: 110px;
}
.year:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #33c1e3;
    border: 5px solid #f6f6f6;
    position: absolute;
    right: -33px;
    top: 50%;
    margin-top: -10px;
    border-radius: 50%;
}

.senior {
	margin-top: 50px;
}

/*footer*/
.footer {
	background: #414141;
	width: 100%;
	height: 8%;
}

.footer__left{
	font-family: "Fira Sans";
	font-weight: 300;
	color: #9c9c9c;
}
.fa-cp {
	color: #9c9c9c;
}

.footer__right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social__item {
	position: relative;
	height: 30px;
	width: 30px;
	padding: 4px;
}

.social__item img {
	position: absolute;
}

.social__item .first-fb {
	opacity: 1;
}
.social__item .first-fb:hover {
	opacity: 0;
}

.social__item .second-fb, .social__item .second-fb:hover {
	opacity: 0;
}

.social__item .second-fb:hover {
	opacity: 1;
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.social__item .first-vk {
	opacity: 1;
}
.social__item .first-vk:hover {
	opacity: 0;
}
.social__item .second-vk, .social__item .second-vk:hover {
	opacity: 0;
}
.social__item .second-vk:hover {
	opacity: 1;
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.social__item .first-tw {
	opacity: 1;
}
.social__item .first-tw:hover {
	opacity: 0;
}
.social__item .second-tw, .social__item .second-tw:hover {
	opacity: 0;
}
.social__item .second-tw:hover {
	opacity: 1;
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}